doctype html
html
    head
        title sur.snapps
        link(rel='stylesheet', type='text/css', href='bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='sur.snapps.css')
        script(type='text/javascript', src='jquery-2.0.3.min.js')
        script(type='text/javascript', src='jquery-form.js')
        script(type='text/javascript', src='sur-snapps-core.js')
        script(type='text/javascript', src='sur-snapps-util.js')
        script(type='text/javascript', src='sur-snapps-user.js')
    body
        div.container
            div.header
                h1 SUR.snapps
            div.menu
                ul.list-inline
                    each item in self.menu.items
                        li: a(href='#', onclick='sur.snapps.html.loadContent("#{item.key}")') #{item.label}
            div.content
                div#content
                    h3 Dashboard
            div.footer