h3 Game X vs Y

div#game-view

input(type='button', value='Move', onmousedown='sur.snapps.mundi.startMoving()', onmouseup='sur.snapps.mundi.stopMoving()')
input(type='button', value='Shoot', onclick='sur.snapps.mundi.shoot()')

script.
    sur.snapps.mundi.startGame();